body {
    background-color: pink;
    text-align: center;
    color: white;
}

h1:hover {
    color: black;
}

img {
    width: 30%;
}
div.container {
    text-align: center;
}
ol.myOl {
    display: inline-block;
    text-align: left;
    color: black;
}
p {
    color: black;
}